@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap'); 
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.log-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #f1dccd;
}
.container {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0px 15px;
}
a{
  color: inherit;
}
header {
  margin-bottom: 20px;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
  font-weight: bold;
}
span {
  color: rgb(30, 11, 29);
  font-size: large;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}

.input {
  height: 50px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 50px;
  color: rgb(30, 11, 29);
  padding: 0 0 0 42px;
  background: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}
.inputf {
  display: flex;
  flex-direction: column;
}
i {
  position: relative;
  top: -31px;
  left: 17px;
  color: rgb(30, 11, 29);
  pointer-events: none;
}
::-webkit-input-placeholder {
  color: rgb(30, 11, 29);
  font-size: 14px;
}
.submit {
  border: none;
  border-radius: 30px;
  font-size: 20px;
  height: 45px;
  outline: none;
  width: 200px;
  background: rgb(212, 111, 136);
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-weight: bold;
}
.submit:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  scale: 1.1;
}
.submit:active {
  margin-top: 3px;
  margin-left: 3px;
  box-shadow: none;
}
.bottom {
  display: flex;
  flex-direction: row;
  font-size: medium;
  color: rgb(30, 11, 29);
  margin-top: 5px;
}
.left {
  display: flex;
  margin-left: 20px;
}

.login {
  font-size: small;
  display: flex;
  margin-left: 30px;
}
.login span {
  color: #fff;
}
input[type="data"] {
  height: 45px;
  width: 87%;
  border: none;
  outline: none;
  border-radius: 30px;
  color: rgb(30, 11, 29);
  padding: 0 0 0 42px;
  background: rgba(112, 21, 21, 0.3);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
}
.inputl {
  height: 45px;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: 0px 60px 0px 60px;
}
nav img{
  margin: 0 20px;
}
nav {
  width: 100vw;
  height: 100px;
  background-color: rgb(93, 42, 55);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  text-align: center;
  color: white;
}

nav ul li{
  list-style: none;
  display: inline-block;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  
}
nav ul li::after{
  content: '';
  background-color:  rgb(201,124,144);
  
  height: 3px;
  width: 0;
  display: block;
  margin: auto;
}
nav ul li:hover::after{
 transition: 0.5s ease-in-out;
  width: 100%;
}
.authbutton button{
  width: 150px;
  height: 40px;
  margin: 0px 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(201,124,144);
  
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
  color: white;
}
.authbutton button:hover{
  background-color: #f1dccd;
  scale: 1.1;
  color: black;
}

.selectg {
  color: rgb(30, 11, 29);
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  height: 45px;
  width: 99%;
}
.rm {
  margin-left: 5px;
  font-size: 15px;
  cursor: pointer;
  color: white;
}

* {
  font-family: "Roboto", sans-serif !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.allinputs {
  background-color: rgb(147, 65, 85);
  border-radius: 20px;
  padding: 10px;
  width: 400px;
  padding-left: 25px;
}
a {
  color: inherit;
}
.final {
  display: flex;
  justify-content: space-evenly;
  background-color: #f1dccd;
}
.mascot-img {
  transform: scaleX(-1);
  width: 600px;
}
.mascot-img2 {
  transform: scaleX(1);
  width: 600px;
}

body{
  background-color: #f1dccd;
}